body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "JosefinSans-ExtraLight";
  src: url(./fonts/JosefinSans-ExtraLight/JosefinSans-ExtraLight.ttf) format("truetype"),
    url(./fonts/JosefinSans-ExtraLight/JosefinSans-ExtraLight.woff) format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans-Light";
  src: url(./fonts/JosefinSans-Light/JosefinSans-Light.ttf) format("truetype"),
    url(./fonts/JosefinSans-Light/JosefinSans-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSans-Medium";
  src: url(./fonts/JosefinSans-Medium/JosefinSans-Medium.ttf) format("truetype"),
    url(./fonts/JosefinSans-Medium/JosefinSans-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

$JosefinSansExtraLight: "JosefinSans-ExtraLight", "Arial", sans-serif;
$JosefinSansMedium: "JosefinSans-Medium", "Arial", sans-serif;
$JosefinSansLight: "JosefinSans-Light", "Arial", sans-serif;
$colorRelativeBackground: #3f3f3f;
$colorBackgroundModeMenu: #d0d0d0;
$colorContent: #f0f0f0;
$colorFonts: #292929;
$accentColor: #8397fd;

.main-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background: $colorRelativeBackground;
  display: grid;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  .wrapper-content-part {
    width: 750px;
    height: 400px;
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: column;
    .menu-install-mode-trainer {
      grid-column: 1;
      //
      // animation: .6s show-menu-mode 2s ease both;
      width: 70px;
      height: auto;
      background: $colorBackgroundModeMenu;
      overflow: hidden;
      padding: 0;
      margin: 0;
      border-radius: 20px;
      margin-right: -20px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      display: grid;
      grid-template-rows: repeat(3, 13%) 1fr;
      button {
        width: 100%;
        border: none;
        outline: none;
        padding: 0;
        border-top-left-radius: 20px;
        display: grid;
        cursor: pointer;
        img {
          padding: 12px;
        }
      }
      button[data-translate-language="ENG"] {
        margin-bottom: -20px;
        background: #faff7f;
        grid-row: 1;
        z-index: 1;
      }
      button[data-translate-language="RUS"] {
        margin-bottom: -20px;
        background: #ff7f7f;
        grid-row: 2;
        z-index: 2;
      }
      button[data-translate-language="WORKOUT"] {
        margin-bottom: -20px;
        background: #adf97f;
        grid-row: 3;
        z-index: 3;
      }
      .stud-last-element-mode-menu {
        width: 100%;
        height: 70px;
        background: $colorBackgroundModeMenu;
        border-top-left-radius: 20px;
        z-index: 4;
      }
    }
    .container-box-word {
      z-index: 100;
      grid-column: 2;
      overflow: hidden;
      align-self: center;
      box-shadow: 0px 0px 6.48px 2.52px rgba(0, 0, 0, 0.23);
      display: grid;
      width: 100%;
      height: 100%;
      background: $colorContent;
      border-radius: 20px;
      grid-gap: 5px;
      grid-template-columns: auto 45%;
      grid-template-rows: 70% auto;
      .block-loaded-content {
        display: grid;
        grid-row: 1/3;
        grid-column: 1/3;
        background: $accentColor;
        justify-content: center;
        align-content: center;
        text-align: center;
        animation: .6s hidden-block 2s ease both;
        h1 {
          font-family: $JosefinSansMedium;
          font-size: 40px;
          color: $colorFonts;
        }
        p {
          font-family: $JosefinSansExtraLight;
          font-size: 24px;
          color: $colorFonts;
          letter-spacing: 13px;
        }
        .circle-logo {
          display: grid;
          justify-self: center;
          width: 150px;
          height: 150px;
          background: $colorContent;
          border-radius: 10em;
          justify-content: center;
          align-content: center;
          box-shadow: 0px 0px 6.48px 2.52px rgba(0, 0, 0, 0.23);
          img {
            image-rendering: optimizeSpeed;
          }
        }
      }
      .wrapper-question-title {
        display: none;
        display: grid;
        justify-self: center;
        align-self: center;
        grid-auto-flow: row;
        animation: 1s appearance-smooth 0.6s ease both;
        h1 {
          justify-self: center;
          font-size: 50px;
          margin: 0;
          font-family: $JosefinSansMedium;
          text-transform: capitalize;
          letter-spacing: -2px;
          color: $colorFonts;
        }
        span {
          letter-spacing: -2px;
          font-family: $JosefinSansLight;
          justify-self: center;
          font-size: 25px;
        }
      }
      .container-input-answer {
        display: grid;
        animation: appearance-smooth 0.6s ease both;
        input {
          outline: none;
          border: none;
          width: 90%;
          height: 30px;
          background: none;
          text-align: center;
          font-size: 26px;
          border-bottom: 1.5px solid $colorRelativeBackground;
          justify-self: center;
          align-self: center;
          font-family: $JosefinSansLight;
          &::placeholder {
            font-family: $JosefinSansExtraLight;
            color: rgb(92, 92, 92);
          }
        }
      }
      .wrapper-for-image {
        background-color: azure;
        grid-column: 2;
        grid-row: 1/3;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        overflow: hidden;
        align-content: center;
        animation: appearance-smooth 0.6s ease both;
        img {
          width: 100%;
        }
      }
    }
  }
}

@keyframes show-menu-mode {
  0% {
    width: 0;
  }
  100% {
    width: 70px;
  }
}
@keyframes hidden-block {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes appearance-smooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
