body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin styles_scroll_bar {
  overflow: hidden;
  overflow: scroll;
  // overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  &::-webkit-scrollbar-button {
    background-color: none;
    height: 0px;
  }
  &::-webkit-scrollbar-track {
    background-color: none;
    height: 0px;
  }
  &::-webkit-scrollbar-track-piece {
    background-color: none;
  }
  &::-webkit-scrollbar-thumb {
    height: 0;
    background-color: none;
    border-radius: 0px;
  }
  &::-webkit-scrollbar-corner {
    background-color: none;
  }
  &::-webkit-resizer {
    background-color: none;
  }
}

@font-face {
  font-family: "JosefinSans-ExtraLight";
  src: url(./fonts/JosefinSans-ExtraLight/JosefinSans-ExtraLight.ttf) format("truetype"),
    url(./fonts/JosefinSans-ExtraLight/JosefinSans-ExtraLight.woff) format("woff");
  font-weight: 100;
  font-style: normal;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: "JosefinSans-Light";
  src: url(./fonts/JosefinSans-Light/JosefinSans-Light.ttf) format("truetype"),
    url(./fonts/JosefinSans-Light/JosefinSans-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: "JosefinSans-Medium";
  src: url(./fonts/JosefinSans-Medium/JosefinSans-Medium.ttf) format("truetype"),
    url(./fonts/JosefinSans-Medium/JosefinSans-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: "YanoneKaffeesatz-ExtraLight";
  src: url(./fonts/YanoneKaffeesatz-ExtraLight/YanoneKaffeesatz-ExtraLight.ttf) format("truetype"),
    url(./fonts/YanoneKaffeesatz-ExtraLight/YanoneKaffeesatz-ExtraLight.woff) format("woff");
  font-weight: 200;
  font-style: normal;
  unicode-range: 0400—04ff;
}
@font-face {
  font-family: "YanoneKaffeesatz-Medium";
  src: url(./fonts/YanoneKaffeesatz-Medium/YanoneKaffeesatz-Medium.ttf) format("truetype"),
    url(./fonts/YanoneKaffeesatz-Medium/YanoneKaffeesatz-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  unicode-range: 0400—04ff;
}

$JosefinSansExtraLight: "JosefinSans-ExtraLight", "YanoneKaffeesatz-ExtraLight", "Arial", sans-serif;
$JosefinSansMedium: "JosefinSans-Medium", "YanoneKaffeesatz-Medium", "Arial", sans-serif;
$JosefinSansLight: "JosefinSans-Light", "YanoneKaffeesatz-ExtraLight", "Arial", sans-serif;
$colorRelativeBackground: #3f3f3f;
$colorBackgroundModeMenu: #d0d0d0;
$colorContent: #f0f0f0;
$colorFonts: #292929;
$accentColor: #8397fd;
$colorError: #ff4040;

.main-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: $colorRelativeBackground;
  display: grid;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  .wrapper-content-part {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 40px 1fr;
    .menu-install-mode-trainer {
      grid-row: 2;
      grid-column: 1;
      animation: 0.6s show-menu-mode 2s ease both;
      // width: 120px;
      height: 95%;
      background: $colorBackgroundModeMenu;
      overflow: hidden;
      padding: 0;
      margin: 0;
      border-radius: 20px;
      margin-right: -20px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      grid-template-columns: 1fr 20px;
      display: grid;
      grid-template-rows: repeat(3, 13%) 1fr;
      align-self: end;
      button {
        width: 100%;
        border: none;
        outline: none;
        grid-template-columns: 1/3;
        padding: 0;
        border-top-left-radius: 20px;
        display: grid;
        cursor: pointer;
        img {
          padding: 14px;
        }
      }
      button[data-translate-language="ENG"] {
        margin-bottom: -20px;
        background: #faff7f;
        grid-row: 1;
        z-index: 1;
      }
      button[data-translate-language="RUS"] {
        margin-bottom: -20px;
        background: #ff7f7f;
        grid-row: 1;
        z-index: 2;
      }
      button[data-translate-language="WORKOUT"] {
        margin-bottom: -20px;
        background: #adf97f;
        grid-row: 2;
        z-index: 3;
        /// не забыть поправить иконцук
        img {
          padding: 6px;
        }
      }
      .stud-last-element-mode-menu {
        width: 100%;
        height: 70px;
        grid-row: 3;
        background: $colorBackgroundModeMenu;
        border-top-left-radius: 20px;
        z-index: 4;
      }

      //// рабочая область
    }
    .menu-choice-set-word {
      grid-column: 2;
      grid-row: 1;
      position: relative;
      background: none;
      margin-bottom: -30px;
      // overflow-x: scroll;
      overflow-y: hidden;
      display: grid;
      grid-auto-flow: column;
      // @include styles_scroll_bar();
      button {
        transition: all 0.2s ease;
        outline: none;
        width: 70px;
        height: 70%;
        align-self: end;
        border: none;
        margin-right: -15px;
        border-radius: 10px;
        padding: 0;
        &:hover {
          margin: 0;
          width: 110px;
          height: 100%;
        }
        span {
          align-self: stretch;
        } 
        &:nth-child(2n) {
          background: $accentColor;
        }
      }
    }
    .container-box-word {
      grid-row: 2;
      z-index: 100;
      overflow: hidden;
      align-self: center;
      box-shadow: 0px 0px 6.48px 2.52px rgba(0, 0, 0, 0.23);
      display: grid;
      width: 100%;
      height: 100%;
      background: $colorContent;
      border-radius: 20px;
      grid-gap: 5px;
      .block-loaded-content {
        display: grid;
        grid-row: 1/3;
        grid-column: 1/3;
        background: $accentColor;
        justify-content: center;
        align-content: center;
        text-align: center;
        animation: 0.6s hidden-block 2s ease both;
        h1 {
          font-family: $JosefinSansMedium;
          font-size: 40px;
          color: $colorFonts;
        }
        p {
          font-family: $JosefinSansExtraLight;
          font-size: 24px;
          color: $colorFonts;
          letter-spacing: 13px;
        }
        .circle-logo {
          display: grid;
          justify-self: center;
          width: 150px;
          height: 150px;
          background: $colorContent;
          border-radius: 10em;
          justify-content: center;
          align-content: center;
          box-shadow: 0px 0px 6.48px 2.52px rgba(0, 0, 0, 0.23);
          img {
            image-rendering: optimizeSpeed;
          }
        }
      }
      /////
      .wrapper-question-title {
        display: none;
        display: grid;
        justify-self: center;
        align-self: center;
        grid-auto-flow: row;
        animation: 1s appearance-smooth 0.6s ease both;
        h1 {
          justify-self: center;
          font-size: 50px;
          margin: 0;
          font-family: $JosefinSansMedium;
          text-transform: capitalize;
          letter-spacing: -2px;
          color: $colorFonts;
        }
        span {
          letter-spacing: -2px;
          font-family: $JosefinSansLight;
          justify-self: center;
          font-size: 25px;
        }
      }
      .container-input-answer {
        display: grid;
        animation: appearance-smooth 0.6s ease both;
        grid-auto-rows: 1fr auto;
        input {
          transition: all 1s ease;
          outline: none;
          border: none;
          width: 90%;
          height: 30px;
          background: none;
          text-align: center;
          font-size: 26px;
          border-bottom: 1.5px solid $colorRelativeBackground;
          justify-self: center;
          align-self: center;
          font-family: $JosefinSansLight;
          &::placeholder {
            font-family: $JosefinSansExtraLight;
            color: rgb(92, 92, 92);
          }
        }
        input[data-validate="error"] {
          border-bottom: 1.5px solid #ff7f7f;
          color: $colorError;
          animation: error-input-field 0.4s ease both;
        }
        span {
          transition: all 1s ease;

          margin: 0;
          padding: 0;
          font-family: $JosefinSansExtraLight;
          justify-self: center;
          align-self: center;
          margin: 5px;
          color: $colorError;
        }
      }
      .wrapper-for-image {
        background-color: $accentColor;
        width: 100%;
        height: 100%;
        overflow: hidden;
        align-content: center;
        animation: appearance-smooth 0.6s ease both;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .wrapper-content-part-handheld {
    max-width: 420px;
    min-width: 300px;
    height: 97vh;
    .container-box-word-handheld {
      grid-auto-flow: row dense;
    }
  }
  .wrapper-content-part-desktop {
    width: 750px;
    height: 460px;
    .container-box-word-desktop {
      grid-template-columns: auto 45%;
      grid-template-rows: 70% auto;
      > .wrapper-for-image {
        grid-column: 2;
        grid-row: 1/3;
      }
    }
  }
}

@keyframes error-input-field {
  0% {
    width: 80%;
    margin-left: -10px;
    margin-right: 10px;
  }
  20% {
    margin-left: 10px;
    margin-right: -10px;
  }
  40% {
    margin-left: -10px;
    margin-right: 10px;
  }
  60% {
    margin-left: 10px;
    margin-right: -10px;
  }
  100% {
    width: 90%;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@keyframes show-menu-mode {
  0% {
    width: 0;
  }
  100% {
    width: auto;
  }
}
@keyframes hidden-block {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes appearance-smooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
